.container {
  height: 100vh;
  display: auto;
  align-items: flex-start;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.resume-card {
  padding: 20px;
}

.line {
  height: 2px;
  border-radius: 4px;
  width: 70%;
  background-color: black;
  margin: 0;
}
